<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Car</title>
</head>

<body>
    <h1>Det nye nummerplade lookUp!</h1>
    <div id="app">
    

        <h2>Car by LicensePlate</h2>
        <input v-model="LicensePlate" placeholder="id" type="text">
        <button id="knap" v-on:click="getCarByPlate(LicensePlate)" class="btn btn-primary">Get Car</button>

        <hr>    

        <div class="container">
                   <h1>Din Bil</h1>   
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Fabrikant</th>
                  <th>Model</th>
                  <th>Benzintype</th>
                  <th>Variant</th>
                  <th>Døre</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="Car">
                  <td>{{Car.make}}</td>
                  <td>{{Car.model}}</td>
                  <td>{{Car.fuel_type}}</td>
                  <td>{{Car.variant}}</td>
                  <td>{{Car.doors}}</td>
                </tr>
              </tbody>
            </table>
          </div>

    </div>

    <script src="index.js"></script>
</body>

</html> -->